/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
/* pre-define css code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: "Space Grotesk";
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0;
  padding-right: 0;
  padding-left: 0;
}

.row {
  --bs-gutter-x: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.row > * {
  padding-right: 0;
  padding-left: 0;
}

/* body scroolbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* end body scroolbar */

/* remove scrollbar when open modal */
body.modal-open {
  overflow: auto;
}
body.modal-open[style] {
  padding-right: 0px !important;
}
body.modal-open {
  overflow-y: scroll;
}
.modal::-webkit-scrollbar {
  width: 0 !important;
}
/* remove scrollbar when open modal */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out 0s;
}
button:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button:disabled {
  background: var(--bg-primary-500);
  opacity: 40%;
  cursor: not-allowed;
  border: 1px transparent !important;
  color: var(--txt-white) !important;
  border-color: none;
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  border: 0;
  color: var(--text-white);
}
.form-check-input:checked {
  border: none !important;
  outline: none;
}
.form-select:focus {
  box-shadow: inherit;
  border: none;
  outline: none;
}
input.form-control:focus {
  box-shadow: inherit;
}
.form-control:focus {
  box-shadow: inherit;
}
textarea.form-control:focus {
  box-shadow: inherit;
}
.form-check-input:focus {
  box-shadow: inherit;
  border: none;
}
[type="search"] {
  outline-offset: inherit;
  border: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.form-control::placeholder {
  color: var(--bs-neutral-500);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
textarea.form-control::placeholder {
  color: var(--bs-neutral-500);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
/* head text format */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--text-secondary-dark);
}

/* head text format */

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--bs-neutral-500);
  font-size: 16px;
  line-height: 24px;
}
a {
  margin: 0;
  padding: 0;
  color: unset;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}
a:hover {
  color: unset;
}

label {
  font-weight: 400;
}
small {
  font-weight: 400;
}
address {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

/* root color variable */
:root {
  --text-secondary-dark: #242f65;

  --text-secondary-dark-light: #4c4d4b;

  --text-secondary-light: #a3a5a8;

  /* brand color */
  --bs-primary-600: #fd4822;
  --bs-primary-500: #ff5733;
  --bs-primary-100: #ffece8;
  --bs-primary-50: #fffdfd;

  /* brand color */

  /* universal color */
  --bs-white: #ffffff;
  --bs-black: #0a0a0a;
  /* universal color */

  /* neutral color */
  --bs-neutral-950: #0a0a0a;
  --bs-neutral-900: #171717;
  --bs-neutral-800: #262626;
  --bs-neutral-700: #404040;
  --bs-neutral-600: #525252;
  --bs-neutral-500: #737373;
  --bs-neutral-400: #a3a3a3;
  --bs-neutral-300: #d4d4d4;
  --bs-neutral-200: #e5e5e5;
  --bs-neutral-100: #f5f5f5;
  --bs-neutral-50: #fafafa;
  /* end neutral color */

  /* success color */
  --bs-success-950: #052e16;
  --bs-success-900: #14532d;
  --bs-success-800: #166534;
  --bs-success-700: #15803d;
  --bs-success-600: #16a34a;
  --bs-success-500: #22c55e;
  --bs-success-400: #4ade80;
  --bs-success-300: #86efac;
  --bs-success-200: #bbf7d0;
  --bs-success-100: #dcfce7;
  --bs-success-50: #f0fdf4;

  /* end success color */

  /* info color */
  --bs-info-950: #172554;
  --bs-info-900: #1e3a8a;
  --bs-info-800: #1e40af;
  --bs-info-700: #1d4ed8;
  --bs-info-600: #2563eb;
  --bs-info-500: #3b82f6;
  --bs-info-400: #60a5fa;
  --bs-info-300: #93c5fd;
  --bs-info-200: #bfdbfe;
  --bs-info-100: #dbeafe;
  --bs-info-50: #eff6ff;

  /* end info color */

  /* warning color */
  --bs-warning-950: #422006;
  --bs-warning-900: #713f12;
  --bs-warning-800: #854d0e;
  --bs-warning-700: #a16207;
  --bs-warning-600: #ca8a04;
  --bs-warning-500: #eab308;
  --bs-warning-400: #facc15;
  --bs-warning-300: #fde047;
  --bs-warning-200: #fef08a;
  --bs-warning-100: #fef9c3;
  --bs-warning-50: #fefce8;
  /* end warning color */

  /* danger color */
  --bs-danger-950: #450a0a;
  --bs-danger-900: #7f1d1d;
  --bs-danger-800: #991b1b;
  --bs-danger-700: #b91c1c;
  --bs-danger-600: #dc2626;
  --bs-danger-500: #ef4444;
  --bs-danger-400: #f87171;
  --bs-danger-300: #fca5a5;
  --bs-danger-200: #fecaca;
  --bs-danger-100: #fee2e2;
  --bs-danger-50: #fef2f2;
  /* end danger color */

  /* orange color */
  --bs-orange-950: #431407;
  --bs-orange-900: #7c2d12;
  --bs-orange-800: #9a3412;
  --bs-orange-700: #c2410c;
  --bs-orange-600: #ea580c;
  --bs-orange-500: #f97316;
  --bs-orange-400: #fb923c;
  --bs-orange-300: #fdba74;
  --bs-orange-200: #fed7aa;
  --bs-orange-100: #ffedd5;
  --bs-orange-50: #fff7ed;
  /* end orange color */
}
/* end root color variable */

/* custom class */
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.font-56 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}
.font-48 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.font-18 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.font-16 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-14 {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.font-12 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.btn-d-w {
  width: fit-content;
  padding: 0 14px;
}

.text-primary {
  color: var(--bs-primary-500) !important;
}
.bg-primary {
  background: var(--bs-primary-500) !important;
}

.text-success {
  color: var(--bs-success-500) !important;
}
.bg-success {
  background: var(--bs-success-500) !important;
}
.text-danger {
  color: var(--bs-danger-500) !important;
}
.bg-danger {
  background: var(--bs-danger-500) !important;
}
.text-warning {
  color: var(--bs-warning-500) !important;
}
.bg-warning {
  background: var(--bs-warning-500) !important;
}
.text-info {
  color: var(--bs-info-500) !important;
}
.bg-info {
  background: var(--bs-info-500) !important;
}
.text-black {
  color: var(--txt-neutral-900) !important;
}
.bg-black {
  background: var(--bs-black) !important;
}
.text-white {
  color: var(--bs-white) !important;
}
.bg-white {
  background: var(--bs-white) !important;
}
